</main>
 <footer>
<h5 class="card-title">Mis Pintores Favoritos</h5>
<p class="card-text"><small class="text-muted">©  Copyright:  {{autor}} - {{year}}</small></p>

    </div>
    </div>

    </footer>

</body>
</html>