{{> header}}

  <div class="titulo">Vicent Van Gogh</div>

  <center>
    
      <div class="container">

        <div class="col-md-12">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
            </ul>
    
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../images/vi.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/vic.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/vice.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/vicen.jpg" height="500">
            </div>
            <div class="carousel-item">
              <img src="../images/vicent.jpg" height="500">
            </div>
          </div>

    <div id="botones" style="font-size: 60px; color: black;">
        <a class="carousel-control-prev" href="#demo"  data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo"  data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
  </div>
    </center>

  
  <div class="texto">
    <center><img style="float: center; margin: 10px 10px 10px 10px;" src="../images/van gogh.jpg" width="800" height="500"></center><br>

Vincent van Gogh era el mayor de los seis hijos de un pastor protestante, y mantuvo con su hermano Theo, cuatro años menor que él, una relación que sería determinante en su existencia y en su trayectoria artística. La correspondencia que ambos intercambiaron a lo largo de sus vidas testimonia la intimidad de esta relación y las pasiones y angustias humanas y creativas que atormentaron a Van Gogh en sus últimos años. Tras recibir una esmerada educación en un internado privado, a los dieciséis años entró como aprendiz en la filial de La Haya de la galería de arte parisina Goupil, una sociedad de comerciantes de arte fundada por su tío Vincent.
<br>
                    En 1873 pasó a la sucursal de la galería Goupil en Londres, donde hubo de padecer el primero de sus fracasos sentimentales; en 1875 fue trasladado a la filial parisina; en 1876 se despidió y regresó a Holanda. Trabajó después como profesor, ayudante de un pastor metodista y empleado de una librería; ninguno de estos empleos le duró mucho tiempo. Por aquel entonces sentía sobre todo la necesidad espiritual de entregarse a sus semejantes; de hecho, siempre había querido ser pastor, como su padre, y tal vocación lo llevó a Ámsterdam para seguir los estudios de teología, que suspendió.
                  <br>  
                    Pasó entonces a la Escuela de Evangelización Práctica de Bruselas, y en 1878 fue enviado por sus superiores a la zona minera del Borinage. Establecido en el pueblo de Pâturages, próximo a Mons, realizó una serie de dibujos de los mineros. La Escuela de Evangelización lo expulsó por su excesiva implicación: impresionado por sus infrahumanas penurias, Van Gogh llegó a dar a los mineros lo poco que tenía y a vivir más pobremente que ellos.
                    
                    
    
  </div>

  <br>

  {{> footer}}