0<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dis1.css">
    <link rel="icon" href="../images/micon.png">
    <script src="../scripts/otro.js"></script>
    <script src="../scripts/mensaje.js"></script>
    <title>Pintores</title>

</head>
<body>
 <div class="title" style='margin-right: 500px;  margin-left: 500px; text-align:center'><p>PINTORES</p>
</div>
<br><br><br>
    

    <figure class="snip1033">
        <div class="left">
            <h3 class="blue">Da </h3>
          </div>
          <div class="right">
            <h3 class="white">Vinci</h3>
          </div>
        <img src="https://www.efekto.tv/wp-content/uploads/2020/04/portrait-of-leonardo-da-vinci-1452-1519-getty-768x768.jpg" width="350px" height="300 />
        <figcaption>
        
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
        <a href="davinci"></a>
    </figure>

    <figure class="snip1033"> <div class="left">
            <h3 class="red">Diego</h3>
          </div>
          <div class="right">
            <h3 class="white">Velázquez</h3>
          </div>
      <img src="https://www.todocuadros.es/imagenes/artistas/diego-velazquez-autorretrato.jpg" alt="sample21" width="350px" height="300 />
        <figcaption>
         
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
        <a href="afremov"></a>
    </figure>
    
    <figure class="snip1033">
        <figcaption>
          <div class="left">
            <h3 class="yellow">Pablo</h3>
          </div>
          <div class="right">
            <h3 class="white">Picasso</h3>
          </div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Pablo_picasso_1.jpg"   width="350px" height="300/>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
        <a href="gerome"></a>
    </figure>
    
    <figure class="snip1033">
        <figcaption>
          <div class="left">
            <h3 class="green">Vicent</h3>
          </div>
          <div class="right">
            <h3 class="white">Van Gogh</h3>
          </div>
          <img src="https://www.holland.com/upload_mm/2/5/2/56781_fullimage_vincent_van_gogh.jpg" width="350px" height="300 />
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
        <a href="bazan"></a>
      </figure> 

    <br><br><br>

    <div class="title" style='margin-right: 500px;  margin-left: 500px; text-align:center'><h4><a href="sobremi">Sobre Mi</a></h4>
    
    </div>
</body>
</html>